<!DOCTYPE html>
<html>
<head>
    <title>הוסף טיסה</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
    <script type="text/javascript" src="http://getbootstrap.com/2.3.2/assets/js/bootstrap.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/style.css">
    <style>
		body        { padding-top:70px; }
		.btn-success {justify-content: center;width: 100%; background: #00739580;}
	</style>
</head>
<body>
	
	<a href="myFlights" class="home__button">לכל הטיסות שלי</a>
		<div>
            <h1 class="lead mb-3"> <%= userName %>  ברוכ/ה הבא/ה :)</h1>
			<p>הכנס/י את פרטי הטיסה:</p>
            
		</div>
		<div class="">
			<%- include ('./partials/messages') %>
			<form id="form3" method="post" action="/addFlight">
                
                <input type="text" class="form-control" name="flightNumber" autofocus placeholder="מספר טיסה" class="form__input-error-message" required>
				<h7></h7>
                <input type="date" class="form-control"  name="Date" autofocus placeholder="Date" class="form__input-error-message" required>
				<p></p>
				<input type="submit" value="ראה פרטי טיסה" class="btn btn-primary btn-sm"> 

			</form>
		</div>
		<div class="abc">
            <h4><a href="/logout">התנתק</a></h4>
        </div>
	</div>
</body>
</html>


