<!-- <!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="=utf-8">
    <title>Login</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript">
		$(document).ready(function(){

			$( "#form" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/',
					data: $('#form').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="Success!") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});

		});
	</script>
</head>
<body>
    <div class="container">
        <form action="/login" method="post" class="form" id="login">
            <h1 class="form__title">Login</h1>
            <div class="form__message form__message--error"></div>
            <div class="form__input-group">
                <input type="text" class="form__input" autofocus placeholder="Email" name="Email">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="password" class="form__input" autofocus placeholder="Password" name="Password">
                <div class="form__input-error-message"></div>
            </div>
            <button class="form__button">Login</button>
            <div class="section">
                <a href="/auth/google" class="btn red darken-1">
                    <i class="fab fa-google left"></i> Log In With Google
                </a>
            </div>
        </from> -->
            <!-- <p class="form__text">
                <a href="#" class="form__link">Forget your password</a>
            </p> -->
            <!-- <p class="form__text">
                 <a class="form__link" id="linkCreateAccount">Don't have account? Create account</a> -->
                <!-- <a href="signup.ejs" class="form__link">Don't have account? Create account</a> -->
            <!-- </p>  -->
        
            
<!--         
        <div class="form__text">
            <span id="check" ></span>
        </div>
        <div id="LangTable"><a href="/profile" id="aa"></a>
        </div>
        <div><span>Create a new Account?</span><a href="/signup">Register here</a> -->
        <!-- <iframe name="result" width="30%" height="50"> -->
        <!-- </iframe> --> 
        <!-- <div class="form form--hidden" id="createAccount">Wrong Email/Password</div> -->
    <!-- </div>
    <script src="https://cdnjs.cloudflare.com/ajas/libs/materialize/1.0.0/js/materialize.min.js">
    </script> -->
    <!-- <script>
        M.Sidenav.init(document.querySelector('.sidenav'))
    </script> -->
<!-- </body>
</html> -->

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="=utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css">

	<!-- <script type="text/javascript">
		$(document).ready(function(){
			$( "#form" ).submit(function(event) {
				event.preventDefault();
				$.ajax({
					type: 'POST',
					url: '/',
					data: $('#form').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form')[0].reset();
						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="Success!") {
								console.log("in")
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});
		});
	</script> -->
</head>
<body>
	<div action="/login">
		<div>
			<h1>התחברות</h1>
		</div>
		<%= include ("./partials/messages"); %>
		<div class="form-group" >
			<form id="form" method="post" action="/login">
				<input type="text" name="Email" placeholder="Email" required="" class="form-control"><br/>
				<input type="password" name="Password" placeholder="Password" required="" class="form-control"><br/>
				<input type="submit" value="Login" class="btn btn-success">
			</form>
		</div>
		<div class="section">
			<a href="/auth/google" class="btn red darken-1">
				<i class="fab fa-google left"></i> Log In With Google
			</a>
		</div>
		<!-- <div class="mssg bg-danger">
			<span id="check" ></span>
		</div>
		<div id="LangTable"><a href="/addFlight" id="aa"></a>
		</div> -->
		<div><span>Do you forgot password?</span><a href="/forgetpass">Click here</a>
		<div><span>Create a new Account?</span><a href="/signup">Register here</a>

		</div>
		
	</div>
</body>
</html>