<!DOCTYPE html> 
<html> 
<head> 
    <title>הטיסות שלי</title> 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> 
 </script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <link rel="shortcut icon" href="/assets/favicon.ico"> 
    <link rel="stylesheet" href="/style.css"> 
     
</head> 
<body> 
    <div class="container"> 
  <div> 
   <h1>Welcome 
            </h1> 
  </div> 
  <div class="form-group"> 
   <form id="form4" method="post" action="/myFlights"> 
                <a href="addFlight" class="home__button">Add flights</a> 
                <table class="table"> 
                    <thead> 
                        <tr> 
                        <th scope="col">תאריך</th>  
                            <th scope="col">מספר טיסה</th>  
                            <th scope="col"> 
         
                        </tr> 
                    </thead> 
                    <tbody> 
                        <tr> 
                            <%items.forEach(flight =>{%> 
                            <%if(flight.idUser == id){%> 
                            <% currentdate = flight.Date%> 
                            <% currentyear = currentdate.getFullYear();%> 
                            <% currentmonth = currentdate.getMonth() + 1;%> 
                            <% currentday = currentdate.getDate(); %> 
                            <% currentfull = currentday + "/" + currentmonth + "/" + currentyear %> 
                         
                            <tr> 
                                <th scope="row"><%= currentfull %></th>  
                            <th scope="row"><%= flight.flightNumber %></th>  
                             
                            <%if(currentfull < full){%> 
                                <th scope="row" ><a href="report" class="complain__button">!הגש תלונה</a></th>  
                                 
                            <%}%> 
                            </tr> 
                            <%}%> 
                            <%})%> 
         
                        </tr> 
         
                    </tbody> 
                </table> 
   </form> 
  </div> 
  <div class="abc"> 
            <a href="/logout">Logout</a> 
        </div> 
 </div> 
</body> 
</html>