<!DOCTYPE html>
<html>
<head>
	<title>Forget Password</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/style.css">
	<style>
		body        { padding-top:70px; }
		.container {width: 400px;}
		.btn-success {justify-content: center;width: 100%; background: #00739580;}
	</style>
</head>
<body>


			<div>
				<h1>שנה סיסמא
				</h1>
			</div>
			
		
				<%- include ("./partials/messages"); %>
				<form id="form2" method="post" action="/resetPassword">
					<input type="password" name="Password" placeholder=" סיסמא חדשה" required="" class="form-control"><br/>
					<input type="password" name="PasswordConf" placeholder="אימות סיסמא" required="" class="form-control"><br/>
					<input type="submit" value="שנה סיסמא" class="btn btn-success">
				</form>
		
			<div  class="mssg bg-danger">
				<span id="check"></span>
				</div>
				<div id="LangTable"><a href="/addFlight" id="aa"></a>
				</div>
				<div><span>להתחבר?</span><a href="/">לחץ כאן!</a></div>
			</div>
			<div id="LangTable"><a href="/" id="aa"></a>
			</div>
		</div>

</body>
</html>